.container {
    font-family: 'Cabin', sans-serif;
}
.profile {
    margin-top: 20px;
}
.prof-details {
    margin-top: 20px;
}
.profile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 30vh;
    border-radius: 50%;
}
.prof-details p {
    font-size: 3vh;
}
.prof-details b {
    font-size: 3vh;
}
.my-images img {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}
.navbar {
    margin: 0px;
}
.icons {
    margin-top: 9px;
}
.searched_user img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 10vh;
    border-radius: 50%;
}
.timeline-images {
    margin-bottom: 10px;
}
.timeline-images img {
    width: 100%;
    height: 40%;
    padding: 0px;
    margin: 0px;
}
.group-list-item {
    padding: 0px;
}
.image-icon {
    margin-bottom: 10px;
}
.image-icon img{
    display: block;
    width: 8%;
    height: 5vh;
    border-radius: 50%;
    float: left;
}
#comments {
    padding-bottom: 40px;
    margin-bottom: 40px;
}
#comments1 {
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.others {
    margin-top: 60px;
    margin-bottom: 40px;
}
.others .image-icon img {
    display: block;
    width: 8%;
    height: 5vh;
    border-radius: 50%;
    float: left;
}
.others img {
    width: 100%;
    height: 40%;
    padding: 0px;
    margin: 0px;
}
