.container {
    font-family: 'Cabin', sans-serif;
}
.profile {
    margin-top: 20px;
}
.prof-details {
    margin-top: 20px;
}
.profile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 30vh;
    border-radius: 50%;
}
.prof-details p {
    font-size: 3vh;
}
.prof-details b {
    font-size: 3vh;
}
.my-images img {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}
.navbar {
    margin: 0px;
}
.icons {
    margin-top: 9px;
}
.searched_user img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 10vh;
    border-radius: 50%;
}