.container {
    font-family: 'Cabin', sans-serif;
}
.logo {
    margin-top: 50%;
    background-color: transparent;
    padding: 10px;
}
.logo h3 {
    font-family: 'Lobster', cursive;
    font-size: 10vh;
}
.reg {
    background-color: rgb(214, 105, 224);
}
.reg h3 {
    font-family: 'Pacifico', cursive;
    font-size: 10vh;
}
.jumbotron {
    margin-top: 15%;
    text-align: center;
    background-color: white;
}