<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <nav class="navbar">
          <div class="container">
              <div class="row">
                  <div class="col-md-1">

                  </div>
                  <div class="col-md-2">
                      <div class="navigation">
                        <div class="navbar-header">
                          <a class="navbar-brand" href="{% url 'Timeline' %}" style="font-family: 'Lobster', cursive; color: black; font-size: 5vh">Instagram</a>
                        </div>

                      </div>
                  </div>
                  <div class="col-md-2">

                  </div>
                  <div class="col-md-2">

                  </div>
                  <div class="col-md-2">

                  </div>
                  <div class="col-md-3">
                      <div class="icons">
                          <a href="{% url 'Timeline' %}"><i class='lni lni-home' style="font-size: 5vh; color: black"></i></a> &nbsp; &nbsp; &nbsp;
                          <a href="{% url 'Timeline' %}"><i class='lni lni-heart' style="font-size: 5vh; color: black"></i></a> &nbsp; &nbsp; &nbsp;
                          <a href="{% url 'Profile' %}"><i class='lni lni-user' style="font-size: 5vh; color: black"></i></a>
                      </div>
                  </div>
              </div>
            </div>
        </nav>
    <hr style="margin-top: 0px">
    </body>
</html>
