{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-6">
                <div class="timeline-images">
                    {% if user_profile %}
                        {% for image in profile_images%}
                            <li class="list-group-item">
                                <div class="image-icon">
                                    {% if user_profile.profile_pic.url %}
                                    <img src="{{user_profile.profile_pic.url}}" alt="loading image ..."> &nbsp; <b>{{current_user.username}}</b>
                                    {% else %}
                                        <img src="{% static 'images/insta.png' %}" alt="loading image ..."> &nbsp; <b>{{current_user.username}}</b>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="list-group-item"><img src="{{image.image.url}}" alt="loading image..."></li>
                            <li class="list-group-item" id="comments">
                                <p><b>{{image.image_name}}</b></p>
                                <p>{{image.image_caption}}</p>
                                <p>{{image.posted_on|timesince}}</p>
                                <p>{{image.comments}}</p>
                                <form  action="{%url 'Timeline' %}" method="post" enctype="multipart/form-data">
                                    {%csrf_token%}

                                    {% bootstrap_form form %}
                                    <input type="submit" class="btn btn-default btn-sm" style="float: left" value="Post">
                                </form>
                            </li>
                        {% endfor %}
                    </div>
                        <div class="others">
                            {% if user_profile %}
                                {% for user in user_profile.user.all %}
                                    {% for profile in user.profile_set.all%}
                                        <li class="list-group-item">
                                            <div class="image-icon">
                                                {% if profile.profile_pic.url %}
                                                <img src="{{profile.profile_pic.url}}" alt="loading image ..."> &nbsp; <b>{{user.username}}</b>
                                                {% else %}
                                                    <img src="{% static 'images/insta.png' %}" alt="loading image ..."> &nbsp; <b>{{user.username}}</b>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}

                                    {% for image in user.image_set.all %}
                                            {% if image.image.url %}
                                                <li class="list-group-item"><img src="{{image.image.url}}" alt="loading image..."></li>
                                                <li class="list-group-item" id="comments1">
                                                    <p><b>{{image.image_name}}</b></p>
                                                    <p>{{image.image_caption}}</p>
                                                    <p>{{image.posted_on|timesince}}</p>
                                                    <p>{{image.comments}}</p>
                                                    <form  action="{%url 'Timeline' %}" method="post" enctype="multipart/form-data">
                                                        {%csrf_token%}

                                                        {% bootstrap_form form %}
                                                        <input type="submit" class="btn btn-default btn-sm" style="float: left" value="Post">
                                                    </form>
                                                </li>
                                            {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                    {% else %}
                        <h3>You dont have a profile</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}